<!DOCTYPE html>
<html>
    <head>
        <script src="{{ admin_editor_url }}/assets/bundle.js" defer></script>
        <link type="text/css"  rel="stylesheet" href="{{ admin_editor_url }}/assets/main.css" />
    </head>
    <body>
        <div data-react></div>
    </body>
</html>